

<head>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=1554, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="photo">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing_page.css') }}">
    <title> Sentify </title>

</head>

<body style="margin: 0px; background: rgb(251, 251, 251); overflow-x: hidden;" dark-scroll="">
    
    <!-- naviagation bar -->
    <div class="sidebar" id="sidebar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>
    
<div class="content"> 
    <div class="container-center-horizontal">
        
            <div class="macbook-air-1 screen " data-id="1:2">
                <img class="subtract-cbxlvq subtract" data-id="148:619"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract.svg"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract.svg"
                    alt="Subtract">
                <div class="rectangle-1-cbxlvq" data-id="1:3"></div>
                <div class="join-us-cbxlvq join-us" data-id="1:26">
                    <div class="rectangle-2-a1gY0A" data-id="1:17"></div>
                    <div class="ellipse-1-a1gY0A" data-id="1:18"></div>
                    <img class="lines-a1gY0A" data-id="1:19"
                        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/lines@2x.png"
                        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/lines@2x.png"
                        alt="Lines">
                    <div class="join-us-a1gY0A join-us" data-id="1:25">
                        Join Us
                    </div>
                </div>
                <div class="learn-more-about-how-cbxlvq" data-id="1:31">
                    <p class="learn-more-about-how-here-MZkoYM inter-light-black-10px" data-id="1:27">
                        Learn More About How Here
                    </p>
                    <img class="collapse-arrow-MZkoYM" data-id="1:29"
                        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/collapse-arrow@2x.png"
                        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/collapse-arrow@2x.png"
                        alt="Collapse Arrow">
                    <img class="line-1-MZkoYM" data-id="1:30"
                        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/line-1.svg"
                        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/line-1.svg"
                        alt="Line 1">
                </div>
                <div class="sentify-cbxlvq" data-id="1:32">
                    Sentify
                </div>
                <div class="strat-techno-cbxlvq" data-id="1:37">
                    <div class="technologies-16wFgt inter-light-black-10px" data-id="1:35">
                        Technologies
                    </div>
                    <div class="strategy-16wFgt inter-light-black-10px" data-id="1:36">
                        Strategy
                    </div>
                </div>
            
                <!-- side arrow for the navigation bar -->
                <div class="side-arrow-cbxlvq" data-id="2:46">
                    <span class="toggle-btn" onclick="toggleSidebar()">
                        <div class="button">
                          <img class="arrow" id="arrow-icon" src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/forward@2x.png">
                        </div>
                      </span>
                </div>

                <div class="projects-cbxlvq projects" data-id="2:53">
                    <div class="ellipse-4-84h7Pf" data-id="2:49"></div>
                    <div class="ellipse-5-84h7Pf" data-id="2:50"></div>
                    <div class="ellipse-6-84h7Pf" data-id="2:51"></div>
                    <div class="projects-84h7Pf projects inter-light-black-10px" data-id="2:52">
                        Projects:
                    </div>
                </div>
                <div class="group-1-cbxlvq" data-id="2:58">
                    <div class="rectangle-6-CNDjSq" data-id="2:54"></div>
                    <div class="rectangle-7-CNDjSq" data-id="2:55"></div>
                    <div class="ellipse-7-CNDjSq" data-id="2:57"></div>
                </div>
                <img class="subtract-ycBnOp subtract" data-id="1:43"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-1.svg"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-1.svg"
                    alt="Subtract">
                <img class="subtract-HifdvQ subtract" data-id="2:60"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-2.svg"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-2.svg"
                    alt="Subtract">
                <div class="group-2-cbxlvq" data-id="2:69">
                    <div class="rectangle-8-yLoNPq" data-id="2:65"></div>
                    <div class="ellipse-8-yLoNPq" data-id="2:66"></div>
                    <img class="plus-math-yLoNPq" data-id="2:68"
                        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/plus-math@2x.png"
                        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/plus-math@2x.png"
                        alt="Plus Math">
                </div>
                
                    <div class="group-3-cbxlvq" data-id="2:78">
                        <div class="ellipse-11-1xTsHM" data-id="2:72"></div>
                        <div class="ellipse-12-1xTsHM" data-id="2:73"></div>
                        <div class="ellipse-13-1xTsHM" data-id="2:74"></div>
                        <div class="ar-1xTsHM" data-id="2:77">AR</div>
                    </div>
                    
                    
                    <p class="strategy-in-motion-results-in-action-cbxlvq" data-id="2:80">Strategy in Motion <br>Results in
                        Action</p>
            

                <p class="browse-stock-predict-cbxlvq" data-id="2:82">Browse Stock predictions based off real-time data</p>
                <p class="linkedln-twitter-x-instagram-cbxlvq inter-light-black-10px" data-id="2:84">
                    Linkedln&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TwitterX&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Instagram</p>
                <h1 class="title-cbxlvq title" data-id="2:85">+1k</h1>
                <p class="our-tailored-website-cbxlvq" data-id="2:87">Our tailored website scrapes the internet monitoring
                    the public perception of companies and their relative stock</p>
        
    
            
            <div class="footer-blog-post-cbxlvq" data-id="2:417">
                <div class="background-8FKmvk" data-id="2:418"></div>
                <div class="logo-8FKmvk" data-id="2:419">TRADE</div>
                <div class="copyright-8FKmvk roboto-normal-black-14px" data-id="2:420">© 2024 — 2025</div>
                <div class="link-8FKmvk link roboto-normal-black-14px" data-id="2:421">Privacy — Terms</div><img
                    class="divider-8FKmvk" data-id="2:422"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/divider.svg"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/divider.svg"
                    alt="Divider">
                <div class="links-right-8FKmvk" data-id="2:423">
                    <div class="link-pJRqBZ link roboto-bold-black-14px" data-id="2:424">Product</div>
                    <div class="link-S9xt33 link roboto-normal-black-14px" data-id="2:425">Product</div>
                    <div class="link-y7udaH link roboto-normal-black-14px" data-id="2:426">Product</div>
                    <div class="link-rbOeSM link roboto-normal-black-14px" data-id="2:427">Product</div>
                    <div class="link-SsIKvv link roboto-normal-black-14px" data-id="2:428">Product</div>
                    <div class="link-eOP2ls link roboto-normal-black-14px" data-id="2:429">Product</div>
                    <div class="link-5PRWVQ link roboto-normal-black-14px" data-id="2:430">Company</div>
                    <div class="link-p4qECs link roboto-normal-black-14px" data-id="2:431">Company</div>
                    <div class="link-1uVbe5 link roboto-normal-black-14px" data-id="2:432">Company</div>
                    <div class="link-rxNdnZ link roboto-normal-black-14px" data-id="2:433">Company</div>
                    <div class="link-WIoINf link roboto-normal-black-14px" data-id="2:434">Company</div>
                    <div class="link-LDZsMe link roboto-bold-black-14px" data-id="2:435">Company</div>
                </div>
                <div class="blog-post-8FKmvk" data-id="2:436">
                    <p class="summary-O6WEVA roboto-normal-black-14px" data-id="2:437">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                    <div class="subtitle-O6WEVA subtitle roboto-bold-black-14px" data-id="2:439">Latest Blog Post</div>
                </div>
                <div class="title-8FKmvk title" data-id="2:470">Ready to get started?</div><img
                    class="chevron-right-8FKmvk chevron-right" data-id="2:471"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/chevron-right@2x.png"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/chevron-right@2x.png"
                    alt="Chevron Right"><img class="chevron-right-4CaX5g chevron-right" data-id="2:472"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/chevron-right@2x.png"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/chevron-right@2x.png"
                    alt="Chevron Right"><img class="chevron-right-s7eQYn chevron-right" data-id="2:473"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/chevron-right@2x.png"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/chevron-right@2x.png"
                    alt="Chevron Right">
            </div>
            <p class="trusted-by-the-worlds-best-companies-cbxlvq" data-id="2:93">Trusted by the World’s Best Companies
            </p>
            <div class="feature-list-right-cbxlvq" data-id="2:399">
                <div class="media-r1C0AL" data-id="2:400"></div>
                <div class="content-r1C0AL content" data-id="2:401">
                    <p class="subtitle-imx83H subtitle roboto-normal-black-20px" data-id="2:402">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.</p>
                    <div class="list-imx83H" data-id="2:404">
                        <div class="list-item-NppqTG list-item" data-id="2:405">
                            <div class="list-item-text-lSD6Nw list-item-text roboto-normal-black-20px" data-id="2:406">
                                Benefit of Feature</div>
                            <div class="ellipse-lSD6Nw ellipse" data-id="2:407"></div>
                        </div>
                        <div class="list-item-uTxycv list-item" data-id="2:408">
                            <div class="list-item-text-Fx5WxX list-item-text roboto-normal-black-20px" data-id="2:409">
                                Benefit of Feature</div>
                            <div class="ellipse-Fx5WxX ellipse" data-id="2:410"></div>
                        </div>
                        <div class="list-item-fmrTnj list-item" data-id="2:411">
                            <div class="list-item-text-DxAx5T list-item-text roboto-normal-black-20px" data-id="2:412">
                                Benefit of Feature</div>
                            <div class="ellipse-DxAx5T ellipse" data-id="2:413"></div>
                        </div>
                    </div>
                </div><img class="line-20-r1C0AL" data-id="2:414"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-20.svg"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-20.svg"
                    alt="Line 20"><img class="line-21-r1C0AL" data-id="2:415"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-21.svg"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-21.svg"
                    alt="Line 21">
                <div class="see-real-time-live-updates-r1C0AL" data-id="2:440">See Real-Time Live Updates</div>
            </div>
            <div class="feature-quote-left-cbxlvq" data-id="2:389">
                <div class="media-b6hxFf" data-id="2:390">
                    <div class="rectangle-9VshWU rectangle" data-id="2:391"></div>
                    <div class="rectangle-y4NFCI rectangle" data-id="2:392"></div>
                </div>
                <div class="content-b6hxFf content" data-id="2:393">
                    <div class="ellipse-Qxhrpr ellipse" data-id="2:394"></div>
                    <div class="dhaka-oke-product-designer-Qxhrpr valign-text-middle roboto-normal-black-14px"
                        data-id="2:395">Dhaka Oke, Product Designer</div>
                    <p class="customer-quote-Qxhrpr" data-id="2:396">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="browse-over-1000-companies-Qxhrpr" data-id="2:416">Browse Over 1000 Companies</div>
                    <p class="lorem-ipsum-dolor-si-Qxhrpr" data-id="2:398">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div><img class="line-2-b6hxFf" data-id="2:88"
                    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-2.svg"
                    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-2.svg"
                    alt="Line 2">
            </div><img class="name_-input-cbxlvq name_-input" data-id="148:598"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/name-input.png"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/name-input.png"
                alt="Name_Input"><img class="name_-input-ycBnOp name_-input" data-id="150:709"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/name-input.png"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/name-input.png"
                alt="Name_Input"><img class="get-started-cbxlvq get-started" data-id="148:606"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/get-started.png"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/get-started.png"
                alt="Get Started"><img class="rectangle-12-cbxlvq" data-id="148:612"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/rectangle-12.png"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/rectangle-12.png"
                alt="Rectangle 12"><img class="subtract-6j3T65 subtract" data-id="148:593"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/subtract-3.png"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/subtract-3.png"
                alt="Subtract"><img class="line-3-cbxlvq" data-id="2:94"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-3.svg"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-3.svg"
                alt="Line 3"><img class="section-cbxlvq" data-id="148:613"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/section.png"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/section.png"
                alt="section"><img class="login-cbxlvq" data-id="148:614"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/login.png"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/login.png"
                alt="Login"><img class="get-started-ycBnOp get-started" data-id="148:623"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/get-started-1.png"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/get-started-1.png"
                alt="Get Started"><input class="email-cbxlvq" data-id="148:624" name="email" placeholder="name"
                type="text"><input class="password-cbxlvq" data-id="148:625" name="password" placeholder="name"
                type="text"><img class="subtract-Y0kK2z subtract" data-id="148:615"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-4.svg"
                anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-4.svg"
                alt="Subtract">
        </div>
    </div>
</div>
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            var content = document.querySelector(".content");
            var arrowIcon = document.getElementById("arrow-icon");
            var arrow = document.querySelector(".arrow");
            var button = document.querySelector(".button");
            
            if (sidebar.style.left === "0px") {
                sidebar.style.left = "-250px";
                content.style.marginLeft = "0px"; // Adjust this value based on your sidebar width
                button.style.backgroundColor = "white"; // Change button background color
                arrowIcon.src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/forward@2x.png"
            } else {
                sidebar.style.left = "0px";
                content.style.marginLeft = "320px"; // Adjust this value based on your sidebar width
                button.style.backgroundColor = "black"; // Change button background color
                arrowIcon.src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65dce3fc5df743f8480a7019/img/chevron-left@2x.png"
            }
        }
    </script>

</body>

</html>