body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  background-color: white;
}

.page {
  max-width: 1200px;
  margin: auto;
}

.title {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 20px 0;
}

.news-feed {
  width: 60%;
}

.filter-section, .news-feed, .recommendations {
  padding: 20px;
}

.categories, .article-selection, .news-article, .recommendations ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.news-article {
  justify-content: space-between;
}

.category-icon {
  margin: 10px;
  stroke-width: 1px;
  stroke: black;
  fill: none;
}

.article-selection {
  justify-content: left;
}

.select-company, .recommended-articles {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  margin-bottom: -10px;
  margin-left: -20px;
}

.article-divider {
  border: 0;
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

.news-article {
  display: flex;
  margin-bottom: 20px;
}


.article-content {
  flex: 1;
}

.article-image-container {
  margin-left: 20px;
}

.article-image {
  width: 140px;
  height: auto;
  border-radius: 5px;
}

.article-title a {
  color: #333;
  text-decoration: none;
} 

.fa-external-link {
  margin-left: 5px;
}

.recommendations h2 {
  text-align: center;
}

.recommendations ul {
  list-style-type: none;
  padding: 0;
}

.recommendations li {
  margin: 10px 0;
}

.recommendations li a {
  color: #0066cc;
  text-decoration: none;
}

.source-date-container {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: -20px;
}

.article-source {
  margin-right: 20px;
}

.tag {
  background-color: #f0f0f0; /* Adjust this value as needed */
  padding: 5px 10px; /* Adjust these values as needed */
  margin-right: 10px; /* Adjust this value as needed */
  border-radius: 5px; /* Adjust this value as needed */
}

.article-tags, .analysis-icon {
  display: flex;
  align-items: center;
}  
