{% extends "base.html" %}
{% block title %} Sentify {{ ticker }} {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='company.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="main-content">
        <div class="overview-article">
            <div class="trading-view-symbol-container">
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                    {
                    	"symbol" : "{{ ticker }}",
                    	"chartOnly": false,
                        "height": "100%",
                    	"locale": "en",
                    	"colorTheme": "light",
                    	"gridLineColor": "#f0f3f6",
                    	"trendLineColor": "#2196F3",
                    	"fontColor": "#787B86",
                    	"underLineColor": "#E3F2FD",
                    	"isTransparent": true,
                    	"container_id": "tradingview_2f394"
                    }
                </script>
                <button onclick="modifyFollowCompany(event, this, 'Followed', 'Follow');var cardElement = event.target.closest('.card-followed');cardElement.parentNode.removeChild(cardElement);" data-ticker='{{ ticker }}' class="follow-button"> Followed </button>
            </div>
            <h1 class="articles-heading">Latest Stories</h1>
                <div class="articles-section">
            </div>
        </div>
        <div class="sentiment-chart-and-overview">
            <div class="sentiment-box">
                <h2 class="sentiment-heading">Sentiment Analysis</h2>
                <h2 class="sentiment-subheading">Current Sentiment</h2>
                <div class="sentiment-chart" 
                    data-positive="{{ positive }}" 
                    data-negative="{{ negative }}">
                    <canvas id="sentimentChart" width="250" height="250"></canvas>
                </div>
            </div>
            <div class="company-info-box">
                <h1>Company Overview</h1>
                <h2 class="company-sector">Sector: {{ sector }}</h2>
                <p class="company-description">
                    {{ desc }}
                </p>
            </div>
        </div>
    </div>
    <div class="advanced-chart-container">
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
            {  
            "autosize": true,
            "symbol": "{{ ticker }}",
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "light",
            "style": "1",
            "locale": "en",
            "enable_publishing": false,
            "hide_top_toolbar": true,
            "calendar": false,
            "support_host": "https://www.tradingview.com"
            }
        </script>
    </div>
</div>
<script src="/static/scripts/refresh_articles.js"></script>
<script src="/static/scripts/modify_follow.js"></script>
<script>
    currentArticles = refreshArticles(["{{ ticker }}"], null);
    setInterval(function() {
        currentArticles = refreshArticles(["{{ ticker }}"], currentArticles);
    }, 300000);
</script>
{% endblock %}