<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1554, maximum-scale=5.0">
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="photo">
    <title>{% block title %} {% endblock %}</title>
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/static/scripts/toastr_config.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastr.css') }}">
  </head>
  <body style="margin: 0px; background: rgb(251, 251, 251);">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'success' %}
        <script>
          toastr.success("{{ message }}");
        </script>
      {% elif category == 'info' %}
        <script>
          toastr.info("{{ message }}");
        </script>
      {% elif category == 'error' %}
        <script>
          toastr.error("{{ message }}");
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
    {% with messages = get_flashed_messages(category_filter=["login_success"]) %}
    {% if messages %}
    {% for message in messages %}
    <script>
      toastr.success("{{ message }}");
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <nav class="navbar">
      <a href="/" class="navbar-brand">Sentify</a>
      {% if showNavSearchBar|default(True) %}
      <div class="navbar-search">
        <input id="search-input" type="text" placeholder="Search..." class="search-input" oninput="searchCompany(this.value)">
        <div id="results" class="search-results"></div>
      </div>
      {% endif %}
      <div class="navbar-buttons">
        {% if current_user.is_authenticated %}
        <a href="#" class="navbar-button navbar-inbox-link" onclick="toggleDropdown(event)" style="display: flex; align-items: center; gap: 8px; background-color: transparent; color: black; padding: 0;">
        <img src="https://cdn-icons-png.flaticon.com/512/1159/1159627.png" alt="Message-Mail" style="padding-left:25px;height: 25px;">
        </a>
        <div id="dropdownContent" class="dropdown-content" style="display: none;">
          <div class="inbox-header">
          </div>
        </div>
        <a href="/logout" class="navbar-button">Log Out</a>
        {% else %}
        <a href="/login" class="navbar-button">Log In</a>
        <a href="/register" class="navbar-button">Join Us</a>
        {% endif %}
      </div>
    </nav>
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar-WjYNi3" >
        <div class="general-0TSxxs general" data-id="196:748">
          <div class="general-GW8UXT general" data-id="196:754">
            <div class="general-aCqfMN general roboto-normal-black-14px" data-id="196:755">
              General
            </div>
            <div class="frame-1000001749-aCqfMN" data-id="196:756">
              <div class="frame-1000001711-RdjiIr" data-id="196:757">
                <img class="home-yjJvjE" data-id="196:758" src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65ddd3ea6e99010013567b00/img/home.svg" anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65ddd3ea6e99010013567b00/img/home.svg" alt="Home">
                <div class="dashboard-yjJvjE" data-id="196:759">
                  <a href="/dashboard">
                  Dashboard
                  </a>
                </div>
              </div>
              <div class="frame-1000001722-RdjiIr" data-id="196:795">
                <img class="briefcase-kYTqIm" data-id="196:796" src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65ddd3ea6e99010013567b00/img/briefcase.svg" anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65ddd3ea6e99010013567b00/img/briefcase.svg" alt="Briefcase">
                <div class="all-companies-kYTqIm roboto-extra-light-black-16px" data-id="196:797">
                  <a href="/companies/">
                  All Companies
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="support-0TSxxs support" data-id="196:808">
          <div class="frame-1000001754-SOLF21" data-id="196:809">
            <div class="support-wXRIjv support roboto-normal-black-14px" data-id="196:810">
              Support
            </div>
            <div class="frame-1000001753-wXRIjv" data-id="196:811">
              <div class="frame-1000001729-qfXu1U" data-id="196:815">
                <img class="question-mark-IFWzvw" data-id="196:816" src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65ddd3ea6e99010013567b00/img/question-mark.svg" anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65ddd3ea6e99010013567b00/img/question-mark.svg" alt="Question Mark">
                <div class="help-IFWzvw roboto-extra-light-black-16px" data-id="196:817">
                  <a href="/contact/">
                  Contact Us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- Main Content -->
    <div class="content">
      <div class="container-center-horizontal">
        <div class="macbook-air-1 screen " data-id="1:2">
          <div class="side-arrow-cbxlvq" data-id="2:46">
            <span class="toggle-btn" onclick="toggleSidebar()">
              <div class="button">
                <img alt='side bar left arrow' class="arrow" id="arrow-icon" src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/forward@2x.png">
              </div>
            </span>
          </div>
          <!-- side arrow for the navigation bar -->
          {% block content %}{% endblock %}
          <!-- Footer --> 
        </div>
      </div>
      
    </div>
    <script src="/static/scripts/sidebar.js"></script>
    <script src="/static/scripts/search.js"></script>
    <script src="/static/scripts/inbox.js"></script>
    <script>
      var isAuthenticated = {{ 'true' if current_user.is_authenticated else 'false' }};
      var socket = io();
      socket.on('connect', function() {
        console.log('Connected to the server');
        if (isAuthenticated) {
          console.log('Joining room')
          socket.emit('join', {'room': {{current_user.id}} });
        }
      });
      
      socket.on('disconnect', function() {
        console.log('Disconnected from the server');
      }); 
      
      socket.on('notification', function(data) {
        toastr.success(data.message);
        const notificationDate = new Date(data.time);
        const timeText = constructTimeText(notificationDate);
        const row = constructNotification(data.message, timeText);
        
        const dropdownContent = document.getElementById('dropdownContent');
        const inboxHeader = dropdownContent.querySelector('.inbox-header');
        dropdownContent.insertBefore(row, inboxHeader.nextSibling);
        // If the "No notifications" row is present, remove it
    const noNotificationsRow = dropdownContent.querySelector('.empty-inbox-row');
    if (noNotificationsRow) {
      noNotificationsRow.remove();
    }

    // If the "Clear all" button is not present, add it
    const clearAllButton = inboxHeader.querySelector('.clear-inbox-button');
    if (!clearAllButton) {
      const newClearAllButton = document.createElement('button');
      newClearAllButton.className = 'clear-inbox-button';
      newClearAllButton.textContent = 'Clear all';
      newClearAllButton.onclick = clearInbox;
      inboxHeader.appendChild(newClearAllButton);
    }
      });
    </script>
  </body>
</html>