{% extends "base.html" %}
{% block title %} Companies {% endblock %}
{% block content %}
<img class="subtract-rptxkZ subtract"
    data-id="212:728"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/subtract.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/subtract.svg"
    alt="Subtract">
<div class="projects-rptxkZ" data-id="212:735">
    <div class="ellipse-7-zLe4Rn" data-id="212:736" onclick="handleClick(this)"></div>
    <div class="ellipse-9-zLe4Rn" data-id="212:737"></div>
    <div class="ellipse-5-zLe4Rn" data-id="212:738"></div>
    <div class="ellipse-6-zLe4Rn" data-id="212:739"></div>
    <div class="ellipse-10-zLe4Rn" data-id="212:740"></div>
    <div class="ellipse-12-zLe4Rn" data-id="214:873"></div>
    <div class="ellipse-11-zLe4Rn" data-id="214:865"></div>
    <div class="filter-by-category-zLe4Rn" data-id="212:741">Filter by Category</div>
</div>
<div class="search-by-company-rptxkZ" data-id="212:746">Search By Company</div>
<h1 class="title-rptxkZ" data-id="212:747">My Watch List</h1>
<p class="research-how-differe-rptxkZ" data-id="212:748">Research how different companies are doing,
    including relevant information, or filter by Category, and find new companies to follow
</p>
<img
    class="subtract-lo1k0f subtract" data-id="212:749"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/subtract-1.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/subtract-1.svg"
    alt="Subtract">
    <div class="search-bar-rptxkZ" data-id="212:754">
        <div class="search-list-top-suq0Hj"></div>
        <input class="search-input" type="text" maxlength="50" placeholder="Search..." onblur="this.placeholder = 'Search...'" onfocus="this.placeholder = ''" oninput="searchCompany(this.value)"/>
        <div id="results"></div>
    </div><div class="card" data-url="templates/apple_data.html" >
    <div class="group-7-rptxkZ" data-id="212:767">
        <div class="rectangle-10-OFcwRL rectangle-10" data-id="212:768"></div>
        <img class="svg-OFcwRL"
            data-id="212:769"
            src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/svg.svg"
            anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/svg.svg"
            alt="svg">
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body"></div>
    </div>
</div>
<div class="group-12-rptxkZ" data-id="212:772">
    <div class="rectangle-10-g7RNeJ rectangle-10" data-id="212:773"></div>
    <img
        class="line-22-g7RNeJ line-22" data-id="212:774"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22.svg"
        alt="Line 22"><img class="line-23-g7RNeJ line-23" data-id="212:775"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23.svg"
        alt="Line 23">
</div>
<div class="group-10-rptxkZ" data-id="212:776">
    <div class="rectangle-10-6Sku9c rectangle-10" data-id="212:777"></div>
    <img
        class="line-22-6Sku9c line-22" data-id="212:778"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22-1.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22-1.svg"
        alt="Line 22"><img class="line-23-6Sku9c line-23" data-id="212:779"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23-1.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23-1.svg"
        alt="Line 23">
</div>
<div class="group-13-rptxkZ" data-id="212:780">
    <div class="rectangle-10-XpRALB rectangle-10" data-id="212:781"></div>
    <img
        class="line-22-XpRALB line-22" data-id="212:782"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22-2.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22-2.svg"
        alt="Line 22"><img class="line-23-XpRALB line-23" data-id="212:783"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23-2.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23-2.svg"
        alt="Line 23">
</div>
<div class="group-14-rptxkZ" data-id="212:784">
    <div class="rectangle-10-E2KKcm rectangle-10" data-id="212:785"></div>
    <img
        class="line-22-E2KKcm line-22" data-id="212:786"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22-2.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22-2.svg"
        alt="Line 22"><img class="line-23-E2KKcm line-23" data-id="212:787"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23-2.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23-2.svg"
        alt="Line 23">
</div>
<div class="group-15-rptxkZ" data-id="212:788">
    <div class="rectangle-10-Q7HrsM rectangle-10" data-id="212:789"></div>
    <img
        class="line-22-Q7HrsM line-22" data-id="212:790"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22-2.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-22-2.svg"
        alt="Line 22"><img class="line-23-Q7HrsM line-23" data-id="212:791"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23-2.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-23-2.svg"
        alt="Line 23">
</div>
<div class="card-rptxkZ" data-id="212:792">
    <div class="frame-40250-X2Nv6b" data-id="I212:792;44:234">
        <div class="frame-40247-QPxo31" data-id="I212:792;44:235">
            <header class="header-hf6RFK" data-id="I212:792;44:236">
                <div class="hire-vs-cancel-hDD2lm" data-id="I212:792;44:236;14:888">Income</div>
                <div class="frame-40158-hDD2lm" data-id="I212:792;44:236;14:889">
                    <div class="frame-40058-QA88f9" data-id="I212:792;44:236;14:890">
                        <div class="today-ltmIGg paragraphp5" data-id="I212:792;44:236;14:891">Today</div>
                    </div>
                </div>
            </header>
            <div class="frame-40159-hf6RFK" data-id="I212:792;44:237">
                <div class="x946000-R0vz6c headerh1" data-id="I212:792;44:238">$ 9460.00</div>
                <div class="trend-R0vz6c" data-id="I212:792;44:239">↓ 1.5%</div>
            </div>
        </div>
        <div class="frame-40249-QPxo31" data-id="I212:792;44:240">
            <div class="frame-40244-tyOJGd" data-id="I212:792;44:241">
                <div class="description-l68iOy description paragraphp3" data-id="I212:792;44:242">Compared
                    to $9940 yesterday
                </div>
            </div>
            <div class="frame-40248-tyOJGd" data-id="I212:792;44:243">
                <div class="description-wGkx9z description headerh6" data-id="I212:792;44:244">Last week
                    Income
                </div>
                <div class="description-IK6WzK description headerh6" data-id="I212:792;44:245">$25658.00
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suggested-companies-to-follow-rptxkZ" data-id="212:793">Suggested Companies to Follow</div>
<div class="rectangle-13-rptxkZ" data-id="212:794"></div>
<div class="rectangle-14-rptxkZ" data-id="212:795"></div>
<div class="followed-rptxkZ" data-id="212:796">followed</div>
<div class="view-full-analytics-rptxkZ roboto-light-black-15px" data-id="212:797">View Full Analytics</div>
<div class="ellipse-985-rptxkZ" data-id="212:798"></div>
<div class="ellipse-986-rptxkZ" data-id="212:799"></div>
<div class="ellipse-987-rptxkZ" data-id="212:800"></div>
<div class="ellipse-988-rptxkZ" data-id="212:801"></div>
<div class="x24h-change-rptxkZ valign-text-middle roboto-light-black-15px" data-id="212:802">24h Change
</div>
<div class="span-rptxkZ" data-id="212:803">
    <div class="eth79e9ae7e53351684svg-rdF1UA" data-id="212:804"><img class="ellipse-990-2OlfIR"
        data-id="212:805"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/ellipse-990@2x.png"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/ellipse-990@2x.png"
        alt="Ellipse 990"></div>
</div>
<div class="rectangle-15-rptxkZ" data-id="212:806"></div>
<div class="see-all-rptxkZ valign-text-middle" data-id="212:807">See All</div>
<img class="group-16-rptxkZ"
    data-id="212:808"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/group-16@2x.png"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/group-16@2x.png"
    alt="Group 16">
<div class="meta-rptxkZ valign-text-middle" data-id="212:818">META</div>
<div class="div-rptxkZ" data-id="212:819">
    <div class="x2748453-usd-Li36vu valign-text-middle" data-id="212:820">27,484.53 USD</div>
    <div class="pseudo-Li36vu" data-id="212:821"></div>
</div>
<div class="x48h-change-rptxkZ valign-text-middle roboto-light-black-15px" data-id="212:822">48h Change
</div>
<img class="ellipse-993-rptxkZ" data-id="212:823"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/ellipse-993@2x.png"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/ellipse-993@2x.png"
    alt="Ellipse 993"><img class="line-4-rptxkZ" data-id="212:824"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-4.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-4.svg"
    alt="Line 4"><img class="line-5-rptxkZ" data-id="212:825"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-5.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/line-5.svg"
    alt="Line 5"><img class="sum-rptxkZ" data-id="212:827"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/sum.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/sum.svg"
    alt="Sum">
<div class="tech-rptxkZ inter-light-black-14px" data-id="214:866">Tech</div>
<div class="finance-rptxkZ inter-light-black-14px" data-id="214:867">Finance</div>
<div class="retail-rptxkZ inter-light-black-14px" data-id="214:868">Retail</div>
<div class="manufacturing-rptxkZ inter-light-black-14px" data-id="214:869">Manufacturing</div>
<div class="health-care-rptxkZ inter-light-black-14px" data-id="214:871">Health-care</div>
<div class="entertainment-rptxkZ inter-light-black-14px" data-id="214:872">Entertainment</div>
<img
    onclick="handleClick(this)"
    class="circuit-rptxkZ" data-id="214:874"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/circuit.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/circuit.svg"
    alt="Circuit">
<img class="wind-turbines-rptxkZ" data-id="214:882"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/wind-turbines@2x.png"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/wind-turbines@2x.png"
    alt="Wind Turbines"><img class="euro-rptxkZ" data-id="214:885"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/euro.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/euro.svg"
    alt="Euro"><img class="clothes-rptxkZ" data-id="214:883"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/clothes@2x.png"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/clothes@2x.png"
    alt="Clothes"><img class="trust-rptxkZ" data-id="214:881"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/trust@2x.png"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/trust@2x.png"
    alt="Trust"><img class="cinema-rptxkZ" data-id="214:887"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/cinema@2x.png"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/cinema@2x.png"
    alt="Cinema"><img class="food-rptxkZ" data-id="214:888"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/food@2x.png"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/food@2x.png"
    alt="Food">
<script src="/static/scripts/search.js"></script>
{% endblock %}
{% block javascript %}
<script>
    function handleClick(button) {
    
      document.querySelector('.ellipse-7-zLe4Rn').classList.toggle('darker');
      document.querySelector('.circuit-rptxkZ').classList.toggle('darker');
      element.classList.toggle('darker');
    
    }
    
    
    document.addEventListener("DOMContentLoaded", function() {
    const cards = document.querySelectorAll('.card');
    const modal = document.getElementById('myModal');
    const modalContent = document.querySelector('.modal-body');
    const closeModal = document.querySelector('.close');
    
    cards.forEach(card => {
      card.addEventListener('click', function() {
        const url = this.getAttribute('data-url');
        fetch(url)
          .then(response => response.text())
          .then(data => {
            modalContent.innerHTML = data;
            modal.style.display = 'block';
            setTimeout(() => {
              modal.style.opacity = '1';
            }, 50); // Adding a slight delay to ensure smooth transition
          });
      });
    });
    
    closeModal.addEventListener('click', function() {
      modal.style.opacity = '0';
      setTimeout(() => {
        modal.style.display = 'none';
        modalContent.innerHTML = '';
      }, 300); // Adjust to match the transition duration
    });
    
    window.addEventListener('click', function(event) {
      if (event.target === modal) {
        modal.style.opacity = '0';
        setTimeout(() => {
          modal.style.display = 'none';
          modalContent.innerHTML = '';
        }, 300); // Adjust to match the transition duration
      }
    });
    });
</script>
{% endblock %}
