{% extends "base.html" %}
{% block title %} Companies {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='company_search.css') }}">
{% endblock %}
{% block content %}
<img class="subtract-rptxkZ subtract"
    data-id="212:728"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/subtract.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/subtract.svg"
    alt="Subtract">
<div class="search-by-company-rptxkZ" data-id="212:746">Search By Company</div>
<p class="research-how-differe-rptxkZ" data-id="212:748">Research how different companies are doing,
    including relevant information, or filter by Category, and find new companies to follow
</p>
    <div class="search-bar-rptxkZ" data-id="212:754">
        <div class="search-list-top-suq0Hj"></div>
        <input id="search-input" type="text" maxlength="50" placeholder="Search..." onblur="this.placeholder = 'Search...'" onfocus="this.placeholder = ''" oninput="searchCompany(this.value)"/>
        <div id="results"></div>
    </div>

    <div style='top:67.5%' class="my-watch-list-title" data-id="212:758">My Watch List</div>
    <div class="companies-container-2">
        {% if current_user.is_authenticated  %}
        {% for company in companies %}
            <div class="card-followed">
                <div class="rectangle-10-OFcwRL rectangle-10" data-id="212:768">
                        <div class="tradingview-widget-container">
                            <div class="tradingview-widget-container__widget"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                            {
                            "symbol": "{{ company }}",
                            "width": "400",
                            "height": "350",
                            "locale": "en",
                            "dateRange": "12M",
                            "colorTheme": "light",
                            "trendLineColor": "{{ randomColor() }}",
                            "isTransparent": true,
                            "autosize": false,
                            "largeChartUrl": "#"
                            }
                            </script>   
                        </div>

                        <div onclick="window.location.href='/companies/{{ company }}'" class="full-analytics">View Full Analytics </div>
                        <button onclick="modifyFollowCompany(event, this, 'Followed', 'Unfollowed');var cardElement = event.target.closest('.card-followed');cardElement.parentNode.removeChild(cardElement);" data-ticker='{{ company }}' id="followed-button"> Followed </button>
                </div> 
            </div>
        {% endfor %}
        <div class="card-followed">
            <div class="rectangle-10-OFcwRL rectangle-10" data-id="212:768">
                <a href="/companies" class="add-button">+</a>
            </div>
        </div>
    {% endif %}
    </div>

    <div class="container-suggested">
        <div  style='left: 0' class="my-watch-list-title" data-id="212:758">You Might Like...</div>
        <div class="carousel">
            {% for company in companies %}
            <div class="carousel-item">  
                <div class="card-followed">
                    <div class="rectangle-10-OFcwRL rectangle-10" data-id="212:768">
                        <div class="tradingview-widget-container">
                            <div class="tradingview-widget-container__widget"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                            {
                            "symbol": "{{ company }}",
                            "width": "400",
                            "height": "350",
                            "locale": "en",
                            "dateRange": "12M",
                            "colorTheme": "light",
                            "trendLineColor": "{{ randomColor() }}",
                            "isTransparent": true,
                            "autosize": false,
                            "largeChartUrl": "#"
                            }
                            </script>   
                        </div>

                        <div onclick="window.location.href='/companies/{{ company }}'" class="full-analytics">View Full Analytics </div>
                        <button data-ticker='{{ company }}' id="followed-button"> <<< </button>
                </div> 
                </div>
            </div>
            {% endfor %}
        </div> 
        <div class="arrow-container">
            <div class="carousel-arrow" onclick="prevSlide()"> &lt; </div>  
            <div class="carousel-arrow" onclick="nextSlide()"> &gt; </div>
        </div>
    </div>
     
 
<script>
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
        $('.carousel').carousel({
            padding: 200, // Optional padding
            fullWidth: true, // Makes the carousel full width
            indicators: true, // Show indicators
            duration: 500, // Transition duration
            shift: 0, // Transition shift amount
            numVisible: 5, // Number of visible items
            dist: -100, // Perspective zoom
            padding: 100, // Padding
            fullWidth: false, // Makes the carousel full width
            noWrap: false, // Don't wrap items
            onCycleTo: null // Callback when cycling to next or previous slide
        });
    });

    function prevSlide() {
        var instance = M.Carousel.getInstance(document.querySelector('.carousel'));
        instance.prev();
    }

    function nextSlide() {
        var instance = M.Carousel.getInstance(document.querySelector('.carousel'));
        instance.next();
    }
    window.onload = function() {
        var followedButtons = document.querySelectorAll('#followed-button');
        followedButtons.forEach(function(button) {
            button.addEventListener('mouseover', function() {
                button.textContent = 'Unfollow?';
            });
            button.addEventListener('mouseout', function() {
                button.textContent = 'Followed';
            });
        });
    };
    </script>
    <script src="/static/scripts/modify_follow.js"></script>
    <script src="/static/scripts/search.js"></script>
{% endblock %}