{% extends "base.html" %}
{% block title %} Sentify - Contact Us {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}
{% block content %}
<div class="form-container">
    <h2 class="site-title">Contact Us</h2>
    <form action="" method="POST">
        <div class="input-group"> 
            <input type="text" name="name" placeholder="Name" autocomplete="given-name" maxlength="16" required>
        </div>
        {% with messages = get_flashed_messages(category_filter=["name_error"]) %}
            {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
        {% endwith %}
        <div class="input-group"> 
            <input type="email" name="email" placeholder="Email" autocomplete="email" maxlength="48" required> 
        </div>
        {% with messages = get_flashed_messages(category_filter=["email_error"]) %}
            {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
        {% endwith %}
        <div class="input-group">
            <textarea name="message" placeholder="Message" rows="6" required></textarea>
        </div>
        {% with messages = get_flashed_messages(category_filter=["message_error"]) %}
            {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
        {% endwith %}

        <button type="submit" class="reg-button">Submit</button> 
    </form>
</div>
<script src="/static/scripts/register.js"></script>
{% endblock %}