{% extends "base.html" %}

{% block title %} User Dashboard {% endblock %}

{% block stylesheet %} 
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='company_search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock %}

{% block content %}

    <div class="dashboard">
       
        <div class="welcome-back">
            <div class="welcome-message">
                <h1 style="font-size: 40px; margin-bottom:25px; font-weight: 400;"> Welcome back name</h1>
                <p style="color: #6d6d6d"> Discover your personalised dashboard below, view your watchlist,<br> and browse the latest articles we think you'd like!</p>
                
                <div class="see-all-companies">
                    See Recommended 
                </div>
                
            </div>
            <div class="overall-sentiment">
                <img class="subtract-rptxkZ subtract"
                data-id="212:728"
                src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/subtract.svg"
                alt="Subtract">
                <div class="box">
                    overall sentiment goes here
                </div>
            </div>
        </div>
        <div class="followed-companies-dashboard">
            <div class="title-followed"
            style="
                margin-top: 40px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                font-size: 30px;
            ">
                Latest Stories
            </div>
            <div class="little-box">
                <div class="plus-arrow">
                    +
                </div>
                <div>
                    Keep up with the latest in any company 
                </div>
            </div>
            <div class="article-containers">
                <div class="right-articles">
                    <div class="tab">
                      <button class="tablinks active" onclick="openTab(event, 'Tab1')"> Following </button>
                      <button class="tablinks" onclick="openTab(event, 'Tab2')"> Recommended </button>
                    </div>
                
                    <div id="Tab1" class="tabcontent" style="display:block;">
                      <div class="article-tab">
                
                        <div class="article-information">
                
                            <div class="pfp">
                              <p style="color: black; font-size: 11px; 
                              left: 50px; position: relative; width: 1000px; top: 12px">
                                Source Name <span style="position: relative; left: 40px; color: grey;" >date of article</span>
                              </p>
                
                            </div>
                
                
                           <p class="article-header">Microsoft CEO explains recent tweets</p>
                           <p style="color: grey; font-size: 14px; margin: 0px; margin-right: 20px;
                           line-height: 1.5;" >
                             Microsoft Corp. on Tuesday announced that fiscal year 2024 second-quarter financial results are available on its Investor Relations website. The direct link to the earnings press release is...
                           </p>
                
                           <div class="sector-div">
                             sector
                           </div>
                           <div class="three-dots">
                             ...
                           </div>
                
                        </div>
                        <div class="article-image">
                
                
                          <img class="actual-image" src="https://www.walshgraphics.co.uk/image/cache/data/Cover%20Styl%20Images/Colours/Cover%20Styl'%20M10%20Colour%20-%20Main-1000x1000.jpg" >
                
                           <div class="article-sentiment">
                                <p>
                                 POSITIVE
                                </p>
                           </div>
                
                        </div>
                
                      </div>

                      <div class="article-tab">
                
                        <div class="article-information">
                
                            <div class="pfp">
                              <p style="color: black; font-size: 11px; 
                              left: 50px; position: relative; width: 1000px; top: 12px">
                                Source Name <span style="position: relative; left: 40px; color: grey;" >date of article</span>
                              </p>
                
                            </div>
                
                
                           <p class="article-header">Microsoft CEO explains recent tweets</p>
                           <p style="color: grey; font-size: 14px; margin: 0px; margin-right: 20px;
                           line-height: 1.5;" >
                             Microsoft Corp. on Tuesday announced that fiscal year 2024 second-quarter financial results are available on its Investor Relations website. The direct link to the earnings press release is...
                           </p>
                
                           <div class="sector-div">
                             sector
                           </div>
                           <div class="three-dots">
                             ...
                           </div>
                
                        </div>
                        <div class="article-image">
                
                
                          <img class="actual-image" src="https://www.walshgraphics.co.uk/image/cache/data/Cover%20Styl%20Images/Colours/Cover%20Styl'%20M10%20Colour%20-%20Main-1000x1000.jpg" >
                
                           <div class="article-sentiment">
                                <p>
                                 POSITIVE
                                </p>
                           </div>
                
                        </div>
                
                      </div>

                      <div class="article-tab">
                
                        <div class="article-information">
                
                            <div class="pfp">
                              <p style="color: black; font-size: 11px; 
                              left: 50px; position: relative; width: 1000px; top: 12px">
                                Source Name <span style="position: relative; left: 40px; color: grey;" >date of article</span>
                              </p>
                
                            </div>
                
                
                           <p class="article-header">Microsoft CEO explains recent tweets</p>
                           <p style="color: grey; font-size: 14px; margin: 0px; margin-right: 20px;
                           line-height: 1.5;" >
                             Microsoft Corp. on Tuesday announced that fiscal year 2024 second-quarter financial results are available on its Investor Relations website. The direct link to the earnings press release is...
                           </p>
                
                           <div class="sector-div">
                             sector
                           </div>
                           <div class="three-dots">
                             ...
                           </div>
                
                        </div>
                        <div class="article-image">
                
                
                          <img class="actual-image" src="https://www.walshgraphics.co.uk/image/cache/data/Cover%20Styl%20Images/Colours/Cover%20Styl'%20M10%20Colour%20-%20Main-1000x1000.jpg" >
                
                           <div class="article-sentiment">
                                <p>
                                 POSITIVE
                                </p>
                           </div>
                
                        </div>
                
                      </div>

                      <div class="article-tab">
                
                        <div class="article-information">
                
                            <div class="pfp">
                              <p style="color: black; font-size: 11px; 
                              left: 50px; position: relative; width: 1000px; top: 12px">
                                Source Name <span style="position: relative; left: 40px; color: grey;" >date of article</span>
                              </p>
                
                            </div>
                
                
                           <p class="article-header">Microsoft CEO explains recent tweets</p>
                           <p style="color: grey; font-size: 14px; margin: 0px; margin-right: 20px;
                           line-height: 1.5;" >
                             Microsoft Corp. on Tuesday announced that fiscal year 2024 second-quarter financial results are available on its Investor Relations website. The direct link to the earnings press release is...
                           </p>
                
                           <div class="sector-div">
                             sector
                           </div>
                           <div class="three-dots">
                             ...
                           </div>
                
                        </div>
                        <div class="article-image">
                
                
                          <img class="actual-image" src="https://www.walshgraphics.co.uk/image/cache/data/Cover%20Styl%20Images/Colours/Cover%20Styl'%20M10%20Colour%20-%20Main-1000x1000.jpg" >
                
                           <div class="article-sentiment">
                                <p>
                                 POSITIVE
                                </p>
                           </div>
                
                        </div>
                
                      </div>
                
                    </div>
                
                    <div id="Tab2" class="tabcontent">
                        <div class="article-tab">
                
                            <div class="article-information">
                    
                                <div class="pfp">
                                  <p style="color: black; font-size: 11px; 
                                  left: 50px; position: relative; width: 1000px; top: 12px">
                                    Source Name <span style="position: relative; left: 40px; color: grey;" >date of article</span>
                                  </p>
                    
                                </div>
                    
                    
                               <p class="article-header">Microsoft CEO explains recent tweets</p>
                               <p style="color: grey; font-size: 14px; margin: 0px; margin-right: 20px;
                               line-height: 1.5;" >
                                 Microsoft Corp. on Tuesday announced that fiscal year 2024 second-quarter financial results are available on its Investor Relations website. The direct link to the earnings press release is...
                               </p>
                    
                               <div class="sector-div">
                                 sector
                               </div>
                               <div class="three-dots">
                                 ...
                               </div>
                    
                            </div>
                            <div class="article-image">
                    
                    
                              <img class="actual-image" src="https://www.walshgraphics.co.uk/image/cache/data/Cover%20Styl%20Images/Colours/Cover%20Styl'%20M10%20Colour%20-%20Main-1000x1000.jpg" >
                    
                               <div class="article-sentiment">
                                    <p>
                                     POSITIVE
                                    </p>
                               </div>
                    
                            </div>
                    
                          </div>
    
                          <div class="article-tab">
                    
                            <div class="article-information">
                    
                                <div class="pfp">
                                  <p style="color: black; font-size: 11px; 
                                  left: 50px; position: relative; width: 1000px; top: 12px">
                                    Source Name <span style="position: relative; left: 40px; color: grey;" >date of article</span>
                                  </p>
                    
                                </div>
                    
                    
                               <p class="article-header">Microsoft CEO explains recent tweets</p>
                               <p style="color: grey; font-size: 14px; margin: 0px; margin-right: 20px;
                               line-height: 1.5;" >
                                 Microsoft Corp. on Tuesday announced that fiscal year 2024 second-quarter financial results are available on its Investor Relations website. The direct link to the earnings press release is...
                               </p>
                    
                               <div class="sector-div">
                                 sector
                               </div>
                               <div class="three-dots">
                                 ...
                               </div>
                    
                            </div>
                            <div class="article-image">
                    
                    
                              <img class="actual-image" src="https://www.walshgraphics.co.uk/image/cache/data/Cover%20Styl%20Images/Colours/Cover%20Styl'%20M10%20Colour%20-%20Main-1000x1000.jpg" >
                    
                               <div class="article-sentiment">
                                    <p>
                                     POSITIVE
                                    </p>
                               </div>
                    
                            </div>
                    
                          </div>
    
                          <div class="article-tab">
                    
                            <div class="article-information">
                    
                                <div class="pfp">
                                  <p style="color: black; font-size: 11px; 
                                  left: 50px; position: relative; width: 1000px; top: 12px">
                                    Source Name <span style="position: relative; left: 40px; color: grey;" >date of article</span>
                                  </p>
                    
                                </div>
                    
                    
                               <p class="article-header">Microsoft CEO explains recent tweets</p>
                               <p style="color: grey; font-size: 14px; margin: 0px; margin-right: 20px;
                               line-height: 1.5;" >
                                 Microsoft Corp. on Tuesday announced that fiscal year 2024 second-quarter financial results are available on its Investor Relations website. The direct link to the earnings press release is...
                               </p>
                    
                               <div class="sector-div">
                                 sector
                               </div>
                               <div class="three-dots">
                                 ...
                               </div>
                    
                            </div>
                            <div class="article-image">
                    
                    
                              <img class="actual-image" src="https://www.walshgraphics.co.uk/image/cache/data/Cover%20Styl%20Images/Colours/Cover%20Styl'%20M10%20Colour%20-%20Main-1000x1000.jpg" >
                    
                               <div class="article-sentiment">
                                    <p>
                                     POSITIVE
                                    </p>
                               </div>
                    
                            </div>
                    
                          </div>
    
                          <div class="article-tab">
                    
                            <div class="article-information">
                    
                                <div class="pfp">
                                  <p style="color: black; font-size: 11px; 
                                  left: 50px; position: relative; width: 1000px; top: 12px">
                                    Source Name <span style="position: relative; left: 40px; color: grey;" >date of article</span>
                                  </p>
                    
                                </div>
                    
                    
                               <p class="article-header">Microsoft CEO explains recent tweets</p>
                               <p style="color: grey; font-size: 14px; margin: 0px; margin-right: 20px;
                               line-height: 1.5;" >
                                 Microsoft Corp. on Tuesday announced that fiscal year 2024 second-quarter financial results are available on its Investor Relations website. The direct link to the earnings press release is...
                               </p>
                    
                               <div class="sector-div">
                                 sector
                               </div>
                               <div class="three-dots">
                                 ...
                               </div>
                    
                            </div>
                            <div class="article-image">
                    
                    
                              <img class="actual-image" src="https://www.walshgraphics.co.uk/image/cache/data/Cover%20Styl%20Images/Colours/Cover%20Styl'%20M10%20Colour%20-%20Main-1000x1000.jpg" >
                    
                               <div class="article-sentiment">
                                    <p>
                                     POSITIVE
                                    </p>
                               </div>
                    
                            </div>
                    
                          </div>
                
                    </div>
                </div>

                <div class="side-box">
                    <div style="
                        font-size: 26px;
                        margin-bottom: 30px;
                        top: 0px;
                        right: 20px;
                    "
                    class="my-watch-list-title" data-id="212:758">My Watch List</div>
                    <div class="companies-container-2">
                        {% if current_user.is_authenticated  %}
                        {% for company in companies %}
                            <div class="card-followed">
                                <div class="rectangle-10-OFcwRL rectangle-10" data-id="212:768">
                                        <div class="tradingview-widget-container">
                                            <div class="tradingview-widget-container__widget"></div>
                                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                                            {
                                            "symbol": "{{ company }}",
                                            "width": "400",
                                            "height": "350",
                                            "locale": "en",
                                            "dateRange": "12M",
                                            "colorTheme": "light",
                                            "trendLineColor": "{{ randomColor() }}",
                                            "isTransparent": true,
                                            "autosize": false,
                                            "largeChartUrl": "#"
                                            }
                                            </script>   
                                        </div>

                                        <div onclick="window.location.href='/companies/{{ company }}'" class="full-analytics">View Full Analytics </div>
                                        <button onclick="modifyFollowCompany(event, this, 'Followed', 'Unfollowed');var cardElement = event.target.closest('.card-followed');cardElement.parentNode.removeChild(cardElement);" data-ticker='{{ company }}' class="followed-button"> Followed </button>
                                </div> 
                            </div>
                        {% endfor %}
                        <div class="card-followed">
                            <div class="rectangle-10-OFcwRL rectangle-10" data-id="212:768">
                                <a href="/companies" class="add-button">+</a>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="followed-dashboard-section">
            <div class="container-suggested">
                <div  style='margin:0;' class="my-watch-list-title" data-id="212:758">You Might Like...</div>
                <div class="carousel">
                    {% for company in suggested_companies %}
                    <div class="carousel-item">  
                        <div class="card-followed">
                            <div class="rectangle-10-OFcwRL rectangle-10" data-id="212:768">
                                <div style='margin-bottom:46px;'class="tradingview-widget-container">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                                    {
                                    "symbol": "{{ company }}",
                                    "width": "400",
                                    "height": "350",
                                    "locale": "en",
                                    "dateRange": "12M",
                                    "colorTheme": "light",
                                    "trendLineColor": "{{ randomColor() }}",
                                    "isTransparent": true,
                                    "autosize": false,
                                    "largeChartUrl": "#"
                                    }
                                    </script>   
                                </div>
        
                                <div style='left:95px'onclick="window.location.href='/companies/{{ company }}'" class="full-analytics">View Full Analytics </div>
                        </div> 
                        </div>
                    </div>
                    {% endfor %}
                </div> 
                <div class="arrow-container">
                    <div class="carousel-arrow" onclick="prevSlide()"> &lt; </div>  
                    <div class="carousel-arrow" onclick="nextSlide()"> &gt; </div>
                </div>
            </div>
        </div>
    </div>

    
    <script>
        
        $(document).ready(function(){
        $('.carousel').carousel({
            padding: 200, // Optional padding
            fullWidth: true, // Makes the carousel full width
            indicators: true, // Show indicators
            duration: 500, // Transition duration
            shift: 0, // Transition shift amount
            numVisible: 5, // Number of visible items
            dist: -100, // Perspective zoom
            padding: 100, // Padding
            fullWidth: false, // Makes the carousel full width
            noWrap: false, // Don't wrap items
            onCycleTo: null // Callback when cycling to next or previous slide
        });
    });

    function prevSlide() {
        var instance = M.Carousel.getInstance(document.querySelector('.carousel'));
        instance.prev();
    }

    function nextSlide() {
        var instance = M.Carousel.getInstance(document.querySelector('.carousel'));
        instance.next();
    }

    $(document).ready(function() {
        $('.followed-button').hover(
            function() {
                $(this).text('Unfollow?');
            },
            function() {
                $(this).text('Followed');
            }
        );
    });

    function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

    </script>
    <script src="/static/scripts/modify_follow.js"></script>
    <script src="/static/scripts/search.js"></script>

    


{% endblock %}