{% extends "base.html" %}

{% block title %} Sentify {% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
<img class="subtract-ycBnOp subtract" data-id="1:43"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-1.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-1.svg"
    alt="Subtract">
<p class="strategy-in-motion-results-in-action-cbxlvq" data-id="2:80">Strategy in Motion <br>Results in
    Action
</p>
<h1 class="title-cbxlvq title" data-id="2:85">+1k</h1>
<p style='font-size: 12px;' class="our-tailored-website-cbxlvq" data-id="2:87">Sentify scrapes the internet for you, monitoring
    the public perception of companies and their relative stock.
</p>
<div class="feature-list-right-cbxlvq" data-id="2:399">
    <div class="media-r1C0AL" data-id="2:400"></div>
    <div class="content-r1C0AL content" data-id="2:401">
        <p class="subtitle-imx83H subtitle roboto-normal-black-20px" data-id="2:402">
            Stop checking multiple sources for the latest news, Sentify has you covered
            with articles from a variety of sources all in one place.
        </p>
        <div class="list-imx83H" data-id="2:404">
            <div class="list-item-NppqTG list-item" data-id="2:405">
                <div class="list-item-text-lSD6Nw list-item-text roboto-normal-black-20px" data-id="2:406">
                    Beautiful Sentiment Graphics 
                </div>
                <div class="ellipse-lSD6Nw ellipse" data-id="2:407"></div>
            </div>
            <div class="list-item-uTxycv list-item" data-id="2:408">
                <div class="list-item-text-Fx5WxX list-item-text roboto-normal-black-20px" data-id="2:409">
                    Detailed Charts and Graphs
                </div>
                <div class="ellipse-Fx5WxX ellipse" data-id="2:410"></div>
            </div>
            <div class="list-item-fmrTnj list-item" data-id="2:411">
                <div class="list-item-text-DxAx5T list-item-text roboto-normal-black-20px" data-id="2:412">
                    Sophisticated Analysis with AI
                </div>
                <div class="ellipse-DxAx5T ellipse" data-id="2:413"></div>
            </div>
        </div>
    </div>
    <img class="line-20-r1C0AL" data-id="2:414"
        src="https://static.vecteezy.com/system/resources/previews/023/988/415/non_2x/business-icon-pie-chart-with-transparent-background-free-png.png"
        alt="Line 20">
    <div class="see-real-time-live-updates-r1C0AL" data-id="2:440">See Real-Time Live Updates</div>
</div>
<div class="feature-quote-left-cbxlvq" data-id="2:389">
    <div class="media-b6hxFf" data-id="2:390">
        <div class="rectangle-y4NFCI rectangle" data-id="2:392">
            <img style="object-fit:cover; width:100%; height:100%; border-radius:10px;"
            src="https://t3.ftcdn.net/jpg/03/74/17/10/360_F_374171040_3ConfJdUnehpuIgP429tS1d8F1q1kQVe.jpg">
        </div>
    </div>
    <div class="content-b6hxFf content" data-id="2:393">
        <div class="browse-over-1000-companies-Qxhrpr" data-id="2:416">Predicting Public Opinion Made Easy</div>
        <p class="lorem-ipsum-dolor-si-Qxhrpr" data-id="2:398">Our sentiment analysis service predicts the potential impact of news articles on public opinion.
            By analysing news content, it provides insights into future shifts in sentiment, 
            aiding decision-making and offering a strategic advantage in navigating public opinion.
        </p>
    </div>
</div>
{% endblock %}