{% extends "base.html" %}

{% block title %} Sentify {% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(category_filter=["login_success"]) %}
  {% if messages %}
  {% for message in messages %}
    <script>
      toastr.success("{{ message }}");
    </script>
    {% endfor %}
  {% endif %}
{% endwith %}
<img class="subtract-cbxlvq subtract" data-id="148:619"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract.svg"
    alt="Subtract">
<!-- top header -->
<!-- side arrow for the navigation bar -->
<div class="side-arrow-cbxlvq" data-id="2:46">
    <span class="toggle-btn" onclick="toggleSidebar()">
        <div class="button">
            <img class="arrow" id="arrow-icon" src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db38dbd8a7585f62fd00f2/img/forward@2x.png">
        </div>
    </span>
</div>
<img class="subtract-ycBnOp subtract" data-id="1:43"
    src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-1.svg"
    anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/subtract-1.svg"
    alt="Subtract">
<p class="strategy-in-motion-results-in-action-cbxlvq" data-id="2:80">Strategy in Motion <br>Results in
    Action
</p>
<h1 class="title-cbxlvq title" data-id="2:85">+1k</h1>
<p style='font-size: 12px;' class="our-tailored-website-cbxlvq" data-id="2:87">Sentify scrapes the internet for you, monitoring
    the public perception of companies and their relative stock.
</p>
<!-- footer -->
<div class="feature-list-right-cbxlvq" data-id="2:399">
    <div class="media-r1C0AL" data-id="2:400"></div>
    <div class="content-r1C0AL content" data-id="2:401">
        <p class="subtitle-imx83H subtitle roboto-normal-black-20px" data-id="2:402">Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
        </p>
        <div class="list-imx83H" data-id="2:404">
            <div class="list-item-NppqTG list-item" data-id="2:405">
                <div class="list-item-text-lSD6Nw list-item-text roboto-normal-black-20px" data-id="2:406">
                    Benefit of Feature
                </div>
                <div class="ellipse-lSD6Nw ellipse" data-id="2:407"></div>
            </div>
            <div class="list-item-uTxycv list-item" data-id="2:408">
                <div class="list-item-text-Fx5WxX list-item-text roboto-normal-black-20px" data-id="2:409">
                    Benefit of Feature
                </div>
                <div class="ellipse-Fx5WxX ellipse" data-id="2:410"></div>
            </div>
            <div class="list-item-fmrTnj list-item" data-id="2:411">
                <div class="list-item-text-DxAx5T list-item-text roboto-normal-black-20px" data-id="2:412">
                    Benefit of Feature
                </div>
                <div class="ellipse-DxAx5T ellipse" data-id="2:413"></div>
            </div>
        </div>
    </div>
    <img class="line-20-r1C0AL" data-id="2:414"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-20.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-20.svg"
        alt="Line 20"><img class="line-21-r1C0AL" data-id="2:415"
        src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-21.svg"
        anima-src="https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65db43b7126fc2d69683e464/img/line-21.svg"
        alt="Line 21">
    <div class="see-real-time-live-updates-r1C0AL" data-id="2:440">See Real-Time Live Updates</div>
</div>
<div class="feature-quote-left-cbxlvq" data-id="2:389">
    <div class="media-b6hxFf" data-id="2:390">
        <div class="rectangle-9VshWU rectangle" data-id="2:391"></div>
        <div class="rectangle-y4NFCI rectangle" data-id="2:392"></div>
    </div>
    <div class="content-b6hxFf content" data-id="2:393">
        <div class="ellipse-Qxhrpr ellipse" data-id="2:394"></div>
        <div class="dhaka-oke-product-designer-Qxhrpr valign-text-middle roboto-normal-black-14px"
            data-id="2:395">Dhaka Oke, Product Designer</div>
        <p class="customer-quote-Qxhrpr" data-id="2:396">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="browse-over-1000-companies-Qxhrpr" data-id="2:416">Predicting Public Opinion Made Easy</div>
        <p class="lorem-ipsum-dolor-si-Qxhrpr" data-id="2:398">Our sentiment analysis service predicts the potential impact of news articles on public opinion.
            By analysing news content, it provides insights into future shifts in sentiment, 
            aiding decision-making and offering a strategic advantage in navigating public opinion.
        </p>
    </div>
</div>
{% endblock %}