{% extends "base.html" %}
{% block title %} Sentify - Sign up {% endblock %}
{% block content %}
<div class="form-container">
    <h2 class="site-title">Register</h2>
    <form action="" method="POST">
        <div class="input-group"> 
            <input type="text" name="name" placeholder="First Name" autocomplete="given-name" maxlength="16" required>
        </div>
        {% with messages = get_flashed_messages(category_filter=["name_error"]) %}
            {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
        {% endwith %}
        <div class="input-group"> 
            <input type="email" name="email" placeholder="Email" autocomplete="email" maxlength="48" required> 
        </div>
        {% with messages = get_flashed_messages(category_filter=["email_error"]) %}
            {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
        {% endwith %}
        <div class="input-group"> 
            <input type="password" name="password" placeholder="Password" required>
        </div>
        {% with messages = get_flashed_messages(category_filter=["pw_error"]) %}
            {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
        {% endwith %}
        <div class="input-group">
            <input type="password" name="confirm_password" placeholder="Confirm Password" required> 
        </div>
        {% with messages = get_flashed_messages(category_filter=["pw_match_error"]) %}
            {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
        {% endwith %}
        <div class="input-group">
            <label for="showPasswordCheckbox">Show Password</label>
            <input type="checkbox" id="showPasswordCheckbox" onclick="togglePasswordVisibility()">
        </div>
        <div class="visual-text"> 
            Already have an account? <a class="link" href="/login">Login here</a> 
        </div>
        <button type="submit" class="reg-button">Get Started</button> 
    </form>
</div>
<script src="/static/scripts/register.js"></script>
{% endblock %}