{% block head %}
    <title>Unconfirmed</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="/static/register.css">
{% endblock %}
{% block content %}
<body style="background-color: rgb(251,251,251)">
<div class="container">
    <h1 style='font-size: 32px;'class="visual-text">Welcome!</h1>
    <p style='font-size: 16px;' class="visual-text">Thank you for registering. Please check your email to confirm your account.</p>
    <p style='font-size: 16px;' class="visual-text">If you don't see the email, please click on the link below to resend the confirmation email.</p>
    <div style='font-size: 24px;' class="visual-text"><a href="/resend/" class="link">Resend</a></div>
</div>
</body>

{% endblock %}
