

			


			#fundamental-data {
				height: 490px;
			}

			#powered-by-tv {
				display: flex;
				background: #f8f9fd;
				border: solid 1px #e0e3eb;
				text-align: justify;
				flex-direction: column;
				gap: 8px;
				font-size: 14px;
				padding: 16px;
				border-radius: 6px;
			}

			#powered-by-tv a, #powered-by-tv a:visited {
				color: #2962ff;
			}

			@media (max-width: 800px) {
				main > section,
				.span-full-grid,
				#technical-analysis,
				#top-stories,
				#powered-by-tv {
					grid-column: span 2;
				}
			}

			.custom-div {
				position: relative;
				top: 50px;
				left: 220px;
				width: auto; /* Adjust width as needed */
				height: 1000px; /* Adjust height as needed */
			}

			.top-part {
				position: relative;
				display: flex;
				gap: 5px; /* Adjust the gap as needed */
			}

			.subdiv {
				position: absolute;
				left: 1000px;
				width: 300px; /* Adjust width as needed */
				height: 550px; /* Adjust height as needed */
				border: 1px dotted black;
			}

			.middle-part {
				position: relative;
				display: flex;
				gap: 5px; /* Adjust the gap as needed */
			}

			#company-profile {
				position: relative;
				width: 1000px;
				height: 400px;
			}

			#advanced-chart {
				height: 600px;
				width: 1350px;
			}

			.chart-big {
				position: relative;
				display: flex;
				gap: 5px; /* Adjust the gap as needed */
			}

			.articles-section {
				top: -20px;
			}




			