

:root {
    --alabaster: #fbfbfb;
    --alto: #d9d9d9;
    --black: #000000;
    --desert-storm: #f9f7f7;
    --dolphin: #646474;
    --gray-02: #515156;
    --secondary: #ff2727;
    --white: #ffffff;

    --font-size-l: 14px;
    --font-size-m: 12px;
    --font-size-xl: 15px;
    --font-size-xxl: 16px;
    --font-size-xxxl: 28px;
    --font-size-xxxxl: 30px;
    --font-size-xxxxxl: 35px;

    --font-family-inter: "Inter", Helvetica;
    --font-family-roboto: "Roboto", Helvetica;
}

#results {
    width: 100%; /* adjust as needed */
    border: 1px solid #ccc;
    margin-top: 10px;
    position: absolute;
    top: 50px; /* adjust as needed */
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    display: none;
    font-family: 'Inter', 'Roboto', sans-serif;
    right: 0px;
    overflow: hidden;
}

.result-item {
    padding: 15px;
    padding-left: 25px;
    cursor: pointer;
    color: black;
    box-sizing: border-box; /* add this line */
}

#results:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#results:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.result-item .ticker {
    margin-top: 10px;
    display: block;
    font-size: 0.8em; /* adjust as needed */
}

.result-item:hover {
    background-color: #bbbbbb3d;
    width: 100%;
}
.paragraphp5 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
}

.headerh1 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
}

.paragraphp3 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
}

.headerh6 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
}

.inter-light-black-14px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 300;
}

.roboto-light-black-15px {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 300;
}


.subtract-rptxkZ {
    left: 355px;
    top: 155px;
    width: 993px;
}

.side-arrow-rptxkZ {
    background-color: transparent;
    height: 63px;
    left: 227px;
    position: absolute;
    top: 438px;
    width: 64px;
}

.ellipse-2-A4ELid {
    background-color: transparent;
    border: 1px solid;
    border-color: #6b6b6b;
    border-radius: 32px/31.5px;
    height: 63px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 64px;
}

.forward-A4ELid {
    background-color: transparent;
    height: 23px;
    left: 24px;
    position: absolute;
    top: 20px;
    width: 16px;
}

.projects-rptxkZ {
    background-color: transparent;
    height: 469px;
    left: 1192px;
    position: absolute;
    top: 316px;
    width: 231px;
}

.ellipse-7-zLe4Rn {
    background-color: var(--desert-storm);
    border-radius: 31.5px;
    height: 63px;
    left: 0px;
    position: absolute;
    top: 31px;
    width: 63px;
}

.ellipse-9-zLe4Rn {
    background-color: var(--desert-storm);
    border-radius: 31.5px;
    height: 63px;
    left: 0px;
    position: absolute;
    top: 141px;
    width: 63px;
}

.ellipse-5-zLe4Rn {
    background-color: var(--desert-storm);
    border-radius: 31.5px;
    height: 63px;
    left: 133px;
    position: absolute;
    top: 78px;
    width: 63px;
}

.ellipse-6-zLe4Rn {
    background-color: var(--desert-storm);
    border-radius: 31.5px;
    height: 63px;
    left: 133px;
    position: absolute;
    top: 185px;
    width: 63px;
}

.ellipse-10-zLe4Rn {
    background-color: var(--desert-storm);
    border-radius: 31.5px;
    height: 63px;
    left: 133px;
    position: absolute;
    top: 292px;
    width: 63px;
}

.ellipse-12-zLe4Rn {
    background-color: var(--desert-storm);
    border-radius: 31.5px;
    height: 63px;
    left: 133px;
    position: absolute;
    top: 406px;
    width: 63px;
}

.ellipse-11-zLe4Rn {
    background-color: var(--desert-storm);
    border-radius: 31.5px;
    height: 63px;
    left: 0px;
    position: absolute;
    top: 247px;
    width: 63px;
}

.filter-by-category-zLe4Rn {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 100px;
    letter-spacing: 0.42px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: 129px;
}

.group-1-rptxkZ {
    background-color: transparent;
    height: 25px;
    left: 59px;
    position: absolute;
    top: 838px;
    width: 383px;
}

.rectangle-6-1En8Rs {
    background-color: var(--alto);
    border: 1px solid;
    border-color: var(--white);
    border-radius: 20px;
    height: 25px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 154px;
}

.rectangle-7-1En8Rs {
    background-color: var(--alto);
    border: 1px solid;
    border-color: var(--white);
    border-radius: 20px;
    height: 25px;
    left: 154px;
    position: absolute;
    top: 0px;
    width: 206px;
}

.ellipse-7-1En8Rs {
    background-color: var(--alto);
    border: 1px solid;
    border-color: var(--white);
    border-radius: 11.5px;
    height: 23px;
    left: 360px;
    position: absolute;
    top: 0px;
    width: 23px;
}

.search-by-company-rptxkZ {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 300;
    height: auto;
    left: 183px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 203px;
    width: 314px;
}

.title-rptxkZ {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxxl);
    font-style: normal;
    font-weight: 300;
    height: auto;
    left: 127px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 1013px;
    width: 500px;
}

.research-how-differe-rptxkZ {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 300;
    height: auto;
    left: 184px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 281px;
    white-space: nowrap;
    width: 231px;
}

.subtract-lo1k0f {
    left: 0px;
    top: 2297px;
    width: 951px;
}

.search-bar-rptxkZ {
    align-items: flex-start;
    background-color: white;
    border: 1px solid;
    border-color: white;
    border-radius: 23px;
    box-shadow: 0px 4px 4px #00000040;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    height: 44px;
    left: 444px;
    padding: 12px 16px;
    position: relative;
    top: 447px;
    width: 600px;
}

#search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background: transparent;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 20px;
  padding-top: 8px;
  padding-right: 30px; /* space for the icon */
  background-image: url('https://cdn.animaapp.com/projects/65db38b26cce403ea94fca79/releases/65df28fa24e4781821d2e07a/img/search-list-top.svg'); /* your icon's URL */
  background-repeat: no-repeat;
  background-size: 100%; /* adjust as needed */
  background-position: 525px;
}

#search-input, #search-input::placeholder, #results {
    font-size: 16px; /* adjust as needed */
}
#search-input:focus {
    border-bottom: none ;
    box-shadow: none;
}

.search-list-top-suq0Hj {
    background-color: white;
    flex: 0 0 auto;
    margin-bottom: -4.00px;
    position: relative;
}

.group-7-rptxkZ {
    background-color: transparent;
    height: 407px;
    left: 251px;
    position: absolute;
    top: 1142px;
    width: 389px;
}

.svg-OFcwRL {
    background-color: transparent;
    height: 72px;
    left: 204px;
    position: absolute;
    top: 71px;
    width: 144px;
}

.group-12-rptxkZ {
    background-color: transparent;
    height: 205px;
    left: 251px;
    position: absolute;
    top: 1584px;
    width: 372px;
}

.line-22-g7RNeJ {
    height: 188px;
    left: 17px;
    top: 7px;
    width: 339px;
}

.line-23-g7RNeJ {
    height: 188px;
    left: 17px;
    top: 9px;
    width: 341px;
}

.group-10-rptxkZ {
    background-color: transparent;
    height: 298px;
    left: 686px;
    position: absolute;
    top: 1496px;
    width: 244px;
}

.line-22-6Sku9c {
    height: 274px;
    left: 11px;
    top: 10px;
    width: 222px;
}

.line-23-6Sku9c {
    height: 274px;
    left: 11px;
    top: 13px;
    width: 224px;
}

.group-13-rptxkZ {
    background-color: transparent;
    height: 298px;
    left: 686px;
    position: absolute;
    top: 1139px;
    width: 244px;
}

.line-22-XpRALB {
    height: 274px;
    left: 11px;
    top: 10px;
    width: 222px;
}

.line-23-XpRALB {
    height: 274px;
    left: 11px;
    top: 13px;
    width: 224px;
}

.group-14-rptxkZ {
    background-color: transparent;
    height: 298px;
    left: 987px;
    position: absolute;
    top: 1139px;
    width: 244px;
}

.line-22-E2KKcm {
    height: 274px;
    left: 11px;
    top: 10px;
    width: 222px;
}

.line-23-E2KKcm {
    height: 274px;
    left: 11px;
    top: 13px;
    width: 224px;
}

.group-15-rptxkZ {
    background-color: transparent;
    height: 298px;
    left: 993px;
    position: absolute;
    top: 1496px;
    width: 244px;
}

.line-22-Q7HrsM {
    height: 274px;
    left: 11px;
    top: 10px;
    width: 222px;
}

.line-23-Q7HrsM {
    height: 274px;
    left: 11px;
    top: 13px;
    width: 224px;
}

.card-rptxkZ {
    align-items: flex-start;
    background-color: var(--alabaster);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 187px;
    left: 280px;
    padding: 24px 24px 20px;
    position: absolute;
    top: 1273px;
    width: 289px;
}

.frame-40250-X2Nv6b {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    margin-bottom: -3.00px;
    position: relative;
}

.frame-40247-QPxo31 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.header-hf6RFK {
    align-items: center;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #a2a2a233;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 0px 0px 12px;
    position: relative;
    width: 240px;
}

.hire-vs-cancel-hDD2lm {
    background-color: transparent;
    color: var(--dolphin);
    font-family: var(--font-family-inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.00px;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.frame-40158-hDD2lm {
    align-items: flex-start;
    background-color: #f4f5f7;
    border-radius: 2px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 4px 8px;
    position: relative;
}

.frame-40058-QA88f9 {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
}

.today-ltmIGg {
    background-color: transparent;
    color: var(--dolphin);
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: -1.00px;
    position: relative;
    text-align: right;
    width: 36px;
}

.frame-40159-hf6RFK {
    align-items: flex-end;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 240px;
}

.x946000-R0vz6c {
    background-color: transparent;
    color: #01150c;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.trend-R0vz6c {
    background-color: transparent;
    color: var(--secondary);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 28px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.frame-40249-QPxo31 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.frame-40244-tyOJGd {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.description-l68iOy {
    color: var(--dolphin);
    font-weight: 300;
    text-align: left;
    width: 240px;
}

.frame-40248-tyOJGd {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    height: 24px;
    justify-content: space-between;
    position: relative;
    width: 240px;
}

.description-wGkx9z {
    color: var(--gray-02);
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
}

.description-IK6WzK {
    color: var(--gray-02);
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
}

.suggested-companies-to-follow-rptxkZ {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxxl);
    font-style: normal;
    font-weight: 300;
    height: auto;
    left: 528px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 2112px;
    width: 703px;
}

.followed-rptxkZ {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 300;
    height: auto;
    left: 492px;
    letter-spacing: 0.75px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1498px;
    width: 107px;
}

.view-full-analytics-rptxkZ {
    cursor: pointer;
    background-color: transparent;
    height: auto;
    left: 311px;
    letter-spacing: 0.75px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1498px;
    width: 160px;
}

.ellipse-985-rptxkZ {
    background-color: var(--alto);
    border-radius: 48.5px/47.5px;
    height: 95px;
    left: 291px;
    position: absolute;
    top: 1166px;
    width: 97px;
}
.rectangle-10
.ellipse-986-rptxkZ {
    background-color: #d8191e;
    border-radius: 12.5px;
    height: 25px;
    left: 619px;
    position: absolute;
    top: 1139px;
    width: 25px;
}

.ellipse-987-rptxkZ {
    background-color: #26beff;
    border-radius: 12.5px;
    height: 25px;
    left: 907px;
    position: absolute;
    top: 1490px;
    width: 25px;
} 

.ellipse-988-rptxkZ {
    background-color: #26beff;
    border-radius: 12.5px;
    height: 25px;
    left: 1214px;
    position: absolute;
    top: 1494px;
    width: 25px;
}

.x24h-change-rptxkZ {
    background-color: transparent;
    height: 9px;
    left: 471px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1179px;
    white-space: nowrap;
    width: 120px;
}

.span-rptxkZ {
    background-color: transparent;
    height: 78px;
    left: 296px;
    position: absolute;
    top: 1189px;
    width: 92px;
}

.eth79e9ae7e53351684svg-rdF1UA {
    background-color: transparent;
    height: 104px;
    left: -20px;
    overflow: hidden;
    position: relative;
    top: -35px;
    width: 103px;
}

.ellipse-990-2OlfIR {
    background-color: transparent;
    height: 90px;
    left: 6px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 90px;
}

.rectangle-15-rptxkZ {
    background-color: var(--black);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 30px;
    height: 46px;
    left: 1114px;
    position: absolute;
    top: 1840px;
    width: 189px;
}

.see-all-rptxkZ {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    height: 20px;
    left: 1140px;
    letter-spacing: 0.00px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 1852px;
    white-space: nowrap;
    width: 140px;
}

.group-16-rptxkZ {
    background-color: transparent;
    height: 411px;
    left: 485px;
    position: absolute;
    top: 2326px;
    width: 352px;
}

.meta-rptxkZ {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 24px;
    left: 597px;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 2360px;
    white-space: nowrap;
    width: 62px;
}

.div-rptxkZ {
    background-color: transparent;
    height: 15px;
    left: 592px;
    position: absolute;
    top: 2397px;
    width: 106px;
}

.x2748453-usd-Li36vu {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 15px;
    left: 4px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 88px;
}

.pseudo-Li36vu {
    background-color: transparent;
    border-bottom-style: none;
    border-color: #d8191e;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-style: solid;
    border-right-width: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    height: 5px;
    left: 92px;
    position: absolute;
    top: 4px;
    width: 10px;
}

.x48h-change-rptxkZ {
    background-color: transparent;
    height: 9px;
    left: 701px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2355px;
    white-space: nowrap;
    width: 120px;
}

.ellipse-993-rptxkZ {
    background-color: transparent;
    height: 64px;
    left: 514px;
    object-fit: cover;
    position: absolute;
    top: 2345px;
    width: 64px;
}

.line-4-rptxkZ {
    background-color: transparent;
    height: 1px;
    left: 130px;
    object-fit: cover;
    position: absolute;
    top: 1964px;
    width: 674px;
}

.line-5-rptxkZ {
    background-color: transparent;
    height: 1px;
    left: 878px;
    object-fit: cover;
    position: absolute;
    top: 949px;
    width: 532px;
}

.sum-rptxkZ {
    background-color: transparent;
    height: 33px;
    left: 818px;
    position: absolute;
    top: 2312px;
    width: 29px;
}

.tech-rptxkZ {
    background-color: transparent;
    height: auto;
    left: 1207px;
    letter-spacing: 0.42px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 416px;
    width: auto;
}

.finance-rptxkZ {
    background-color: transparent;
    height: auto;
    left: 1196px;
    letter-spacing: 0.42px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 523px;
    width: auto;
}

.retail-rptxkZ {
    background-color: transparent;
    height: auto;
    left: 1204px;
    letter-spacing: 0.42px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 630px;
    width: auto;
}

.manufacturing-rptxkZ {
    background-color: transparent;
    height: auto;
    left: 1307px;
    letter-spacing: 0.42px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 469px;
    width: auto;
}

.health-care-rptxkZ {
    background-color: transparent;
    height: auto;
    left: 1309px;
    letter-spacing: 0.42px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 574px;
    width: auto;
}

.entertainment-rptxkZ {
    background-color: transparent;
    height: auto;
    left: 1301px;
    letter-spacing: 0.42px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 679px;
    width: auto;
}

.circuit-rptxkZ {
    background-color: transparent;
    height: 38px;
    left: 1202px;
    position: absolute;
    top: 361px;
    width: 44px;
}

.wind-turbines-rptxkZ {
    background-color: transparent;
    height: 38px;
    left: 1338px;
    position: absolute;
    top: 406px;
    width: 37px;
}

.euro-rptxkZ {
    background-color: transparent;
    height: 41px;
    left: 1203px;
    position: absolute;
    top: 470px;
    width: 43px;
}

.clothes-rptxkZ {
    background-color: transparent;
    height: 37px;
    left: 1202px;
    position: absolute;
    top: 576px;
    width: 44px;
}

.trust-rptxkZ {
    background-color: transparent;
    height: 35px;
    left: 1338px;
    position: absolute;
    top: 515px;
    width: 37px;
}

.cinema-rptxkZ {
    background-color: transparent;
    height: 35px;
    left: 1338px;
    position: absolute;
    top: 626px;
    width: 37px;
}

.food-rptxkZ {
    background-color: transparent;
    height: 35px;
    left: 1338px;
    position: absolute;
    top: 736px;
    width: 37px;
}

.description {
    background-color: transparent;
    font-style: normal;
    line-height: 24px;
    margin-top: -1.00px;
    position: relative;
}

.line-22 {
    background-color: transparent;
    object-fit: cover;
    position: absolute;
}

.line-23 {
    background-color: transparent;
    object-fit: cover;
    position: absolute;
}

.subtract {
    background-color: transparent;
    height: 650px;
    position: absolute;
}

.darker {
  filter: brightness(0.8); /* Adjust brightness to make it darker */
}

.tradingview-widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


/*  cards for the watch list */

.rectangle-10 {
    background-color: var(--alabaster);
    border: 1px solid rgb(201, 201, 201);
    border-radius: 20px;
    left: 0px;
    position: relative;
    top: 0px;
    height: 400px;
    
}

.rectangle-10-g7RNeJ {
    border-color: var(--black);
    height: 220px;
    width: 403px;
}

.rectangle-10-E2KKcm {
    border-color: var(--black);
    height: 298px;
    width: 244px;
}

.rectangle-10-6Sku9c {
    border-color: var(--black);
    height: 298px;
    width: 244px;
}

.rectangle-10-Q7HrsM {
    border-color: var(--black);
    height: 298px;
    width: 244px;
}

.rectangle-10-XpRALB {
    border-color: var(--black);
    height: 298px;
    width: 244px;
}

#font-changes {
    font-size: 15px;
}

.companies-container-2 {
    top: 1070px;
    left: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    height: 700px;
    width: 1300px;
    position: relative;
    overflow: auto;
}

.card-followed {
    height: 402px;
    width: 400px;
}

.full-analytics {
    background-color: transparent;
    border: 1px solid;
    border-color: black;
    border-radius: 30px;
    height: 46px;
    width: 210px;
    left: 30px;
    bottom: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 15px;
}

.followed-button {
    background-color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 30px;
    height: 46px;
    position: relative;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 15px;
    color: white;
    left: 240px;
    bottom: 10px;

}

.container-suggested {
    top: 1300px;
    left: 120px;
    height: 700px;
    width: 1350px;
    position: relative;
}

.carousel{
    height: 700px; 
    perspective: 1300px;
	margin-top: 5%;
}

.carousel .carousel-item {
	width: 400px;
	height: 402px;
	animation: animate 2s infinite alternate;
	border-radius: 15px;
}

.useful {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    border: 1px solid black;
}
