.container {
    max-width: 1500px;
    margin: 50px auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 175vh; /* Full height of the viewport */
    font-family: 'Inter', 'Roboto', sans-serif;
    background-color: white;
}

.main-content {
    display: flex;
    gap: 20px;
    flex-direction: row;
    height: 70%; /* Takes up 60% of the container height */
}

.overview-article {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%; /* 70% of the container width */
}

.articles-heading {
    font-size: 2em; /* Adjust as needed */
    color: #333; /* Dark gray */
    margin-bottom: 20px; /* Creates space below the heading */
    text-align: center;
}

.follow-button {
    left: 90%;
    position: relative;
    width: 10%;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px 2px 20px 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: medium;
}

.follow-button:hover {
    background-color: grey; /* Light gray */
    color: white;
}

.sentiment-chart-and-overview {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%; /* 30% of the container width */
}

.articles-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    height: 75%;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-bottom: 20px;
}

.article {
    width: 100%;
    height: 30%;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.article-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 80%;
    justify-content: space-between;
}

.article-right {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%; 
    justify-content: space-between;
}

.article-right img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    border-radius: 10px;
}

.article-rating {
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    border: none;
}

.article-rating.positive {
    background-color: rgba(84, 202, 84, 0.659);
    color: white;
}

.article-rating.neutral {
    background-color: grey;
    color: white;
}

.article-rating.negative {
    background-color: red;
    color: white;
}

.article-header {
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px; 

}
.source-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.article-source {
    font-size: 14px;
    color: #666; /* Medium gray */
    margin-left: 10px;
}

.article-title {
    font-size: 24px;
    color: #333; /* Dark gray */
    margin-left: 10px;
}

.article-content {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 10px 10px;
    padding-bottom: 5px;
    max-width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to display before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-tags {
    display: flex;
    gap: 10px;
    margin: 10px 0 10px 10px;
    bottom: 0;
}

.tag {
    background-color: #f9f9f9; /* Light gray */
    padding: 10px;
    border-radius: 25px;
}

.article-rating {
    align-self: flex-end;
    font-size: 18px;
    color: #666; /* Medium gray */
}

.sentiment-box, .company-info-box {
    border: 1px dotted black;
    height: 50%;
    width: calc(100% - 20px);
    padding: 10px;
}

.company-info-box {
    height: fit-content;
}

.company-info-box h1 {
    font-size: 24px;
    color: #333; /* Dark gray */
    margin-bottom: 10px;
}

.company-info-box .company-sector {
    font-size: 18px;
    color: #666; /* Medium gray */
    margin-bottom: 10px;
}

.company-info-box .company-description {
    font-size: 16px;
    color: #999; /* Light gray */
}

.advanced-chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%; /* Takes up 30% of the container height */
    padding-bottom: 20px;
}   