@import url("https://fonts.googleapis.com/css?family=Inter:300,400,200|Roboto:700,200,400");


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fbfbfb;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1001;
    height: 72px;
}

.navbar-brand {
    font-size: 32px;
    color: black;
    text-decoration: none;  
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-left: 10px;
    transition: color 0.3s ease;
    padding-right: 25px;
}

.navbar-brand:hover {
    color: darkgrey;  
    cursor: pointer;
}

.navbar-buttons {
    margin-right: 10px;
    display: flex;
    gap: 20px;
}

.navbar-button {
    font-size: 14px;
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;  
    border-radius: 25px;
    font-weight: 200;
    padding: 12px 24px;
    transition: background-color 0.3s ease;
}

.navbar-button:hover {
    background-color: #333;
    cursor: pointer;
}

.inbox-link {
    display: inline-flex;
    align-items: center;
    font-size: 16px; 
    font-family: 'Inter', sans-serif;
    color: black; 
    text-decoration: none;
    padding: 8px 12px; 
    border-radius: 25px; 
    transition: background-color 0.3s ease;
}

.inbox-link:hover {
    background-color: #f2f2f2; 
}

.inbox-icon {
    margin-left: 8px; 
    height: 24px; 
    width: auto;
}

.inbox-link:hover .inbox-icon,
.inbox-link:hover {
    color: #333; 
}

.navbar-search {
    position: relative; /* Allows absolute positioning inside */
    flex-grow: 1;
    max-width: 600px; /* Adjust based on your design */
    display: flex;
    justify-content: center;
}

#search-input {
    background-color: white; /* Add your desired color here */
    width: 100%;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid var(--alto);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    height: auto;
    outline: none;
    margin: auto;
    box-shadow: none;
}

#search-input::placeholder {
    color: #666;
}

.search-results {
    display: none; /* Initially hidden */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10; /* Ensure it's above other content */
}

.search-results .result-item:hover {
    background-color: var(--alto);
}

#results {
    width: 100%; /* adjust as needed */
    border: 1px solid #ccc;
    margin-top: 10px;
    position: absolute;
    top: 50px; /* adjust as needed */
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    display: none;
    font-family: 'Inter', 'Roboto', sans-serif;
    right: 0px;
    overflow: hidden;
}

.result-item {
    padding: 15px;
    padding-left: 25px;
    cursor: pointer;
    color: black;
    box-sizing: border-box; /* add this line */
}

#results:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#results:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.result-item .ticker {
    margin-top: 10px;
    display: block;
    font-size: 0.8em; /* adjust as needed */
}

.result-item:hover {
    background-color: #bbbbbb3d;
    width: 100%;
}

.inbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear-inbox-button {
    font-size: 0.8em;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.clear-inbox-button:hover {
    background-color: #f1f1f1;
}

.inbox-heading {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: black;
    margin: 0;
    padding: 10px 20px;
}

.dropdown-content {
    position: absolute;
    top: 60px;
    right: 140px;
    background-color: #f9f9f9;
    width: 350px;
    height: 500px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    padding: 10px;
    padding-top: 20px;
    border-radius: 20px;
    opacity: 1;
    left: auto;
}

.dropdown-row, .empty-inbox-row {
    font-family: 'Inter', 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 12px 30px;
    text-decoration: none;
    color: black;
    background-color: rgb(233, 233, 233);
    height: 70px;
    min-height: 70px;
    margin: 10px;
    border-radius: 15px;
}

.empty-inbox-row {
    background-color: #f9f9f9;
    color: #888;
    font-size: 0.9em;
    padding: 20px;
    text-align: center;
    height: 100px;
    margin: 0;
}

.dropdown-row .notification-time {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 10px;
}

.dropdown-row .notification-message {
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

.dropdown-row:hover {
    background-color: #f1f1f1;
    height: fit-content;
    cursor: pointer;
}

.dropdown-row:hover .notification-message {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}