@import url("https://fonts.googleapis.com/css?family=Inter:300,400,200|Roboto:700,200,400");

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fbfbfb;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1000;
}

.navbar-brand {
    font-size: 32px;
    color: black;
    text-decoration: none;  
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navbar-start {
    display: flex;
    align-items: center;
}

.navbar-brand:hover {
    color: darkgrey;  /* Change as needed */
    cursor: pointer;
}

.navbar-buttons {
    margin-right: 10px;
    display: flex;
    gap: 20px;
}

.navbar-button {
    font-size: 14px;
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;  
    border-radius: 25px;
    font-weight: 200;
    padding: 12px 24px;
    transition: background-color 0.3s ease;
}

.navbar-button:hover {
    background-color: #333;
    cursor: pointer;
}