#toast-container .toast {
    margin-top: 70px; 
    min-width: 100px;
    word-wrap: break-word;
    font-family: 'Roboto', 'Inter', Helvetica, sans-serif;
  }

.toast-success {
    background-color: #39a75e;
  }